.section {
   &__navigation {
      @media screen and (min-width: 1360px) {
         .go-js-slider__btn {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background;
            cursor: pointer;
            transition: background-color 0.3s linear;
   
            .icon {
               width: 18px;
               height: 14px;
               stroke: $primary;
               fill: none;
               transition: fill 0.3s linear;
            }

            &--prev {
               .icon {
                  transform: rotate(180deg);
               }
            }

            &:hover {
               background-color: $primary;
               .icon {
                  stroke: #FFF;
               }
            }
         }

         .swiper-button-disabled.go-js-slider__btn {
            .icon {
               stroke: $text2;
               fill: none;
            }

            &:hover {
               background-color: $background;
               .icon {
                  stroke: $text2;
                  fill: none;
               }
            }
         }
      }
   }
}

.swiper.slider-best {
   * {
      box-sizing: border-box;
   }
}

.swiper.slider-view {
   * {
      box-sizing: border-box;
   }
}

.slider-view {
   margin-left: -12px;
   margin-right: -12px;

   @media screen and (min-width: 768px) {
      margin-left: -22px;
      margin-right: -22px;
   }

   @media screen and (min-width: 1024px) {
      margin-left: auto;
      margin-right: auto;
   }
}