.cookie-alert {
    background-color: $background-active;
    position: fixed;
    z-index: 9999999;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: .3s linear;

    &.is-show {
        transform: translateY(0);
    }

   &__container {
      display: flex;
      flex-direction: column;
      padding: 12px;
      @media screen and (min-width: 1024px) {
         padding: 20px;
         flex-direction: row;
         align-items: center;
      }
   }

    &__left {
      margin-bottom: 10px;
      @media screen and (min-width: 1024px) {
         margin-right: 20px;
         margin-bottom: 0;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 auto;
        a {
            color: #000;
            transition: .3s;
            &:hover {
                color: #0f78ad;
                text-decoration: underline;
            }
        }
    }

    &__btn {
        margin-left: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        background-color: #0f78ad;
        transition: .3s linear;
        flex: 0 0 auto;
        &:hover {
            color: #fff;
            background-color: #3795c4;
        }
    }
}
