.details-page {
   &__row {
      margin-bottom: 30px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 50px;
      }
   }

   &__tabs-box {
   margin-bottom: 30px;
   @media screen and (min-width: 1360px) {
      margin-bottom: 50px;
   }
   }
}

.details-row { 
    display: grid;
    grid-template-columns: minmax(1fr, 576px);
    width: 100%;

   &__slide {
      max-width: 100%;
      min-width: 0;
   }

   &__desc {
      @media screen and (min-width: 1360px) {
         margin-right: 40px;
      }
   }

   &__cart {
      position: fixed;
      left: 0;
      z-index: 22;
      bottom: 60px;
      width: 100%;

      @media screen and (min-width: 768px) {
         position: static;
         z-index: 1;
      }
   }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        &__slide {
            margin-right: 20px;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }

        &__cart {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    @media screen and (min-width: 1360px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        &__slide {
            width: 534px;
            margin-right: 50px;
        }
        &__desc {
            width: 400px;
        }
        &__cart {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
    }
}

.duble-slides {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    &__parent {
        @media screen and (min-width: 1360px) {
            margin-bottom: 20px;
            padding: 23px 23px 32px 23px;
        }
    }

    &__child {
        display: none;
        @media screen and (min-width: 576px) {
            margin-top: 50px;
            display: block;
            position: relative;
            padding: 0 40px;
        }
        @media screen and (min-width: 1360px) {
            padding: 0 90px;
        }
    }
}

.db-sl-parent {
    max-width: 100%;
    height: 280px;
    min-width: 0;
    padding-bottom: 40px; 
    & * {
      box-sizing: border-box;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

   @media screen and (min-width: 768px) {
      padding-bottom: 0;
   }

   @media screen and (min-width: 1024px) {
      height: 480px;
   }
}

.db-sl-parent-pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   bottom: 30px;
   width: 100%;
   z-index: 2;
   .swiper-pagination-bullet {
      display: block;
      width: 10px;
      height: 3px;
      cursor: pointer;
      background-color: $background-active;
      margin: 0 3px;
      &-active {
         background-color: $primary;
      }
   }
   @media screen and (min-width: 576px) {
      display: none;
   }
}

.db-sl-child {
    max-width: 100%;
    min-width: 0; 
    &__item {
        height: 93px;
        display: block;
        cursor: pointer;
        border: 1px solid #FFF;
        transition: .3s;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover {
            border-color: $hover;
        }
    }

    .swiper-slide-thumb-active {
        .db-sl-child__item {
            border-color: $secondary;
        }
    }

    &__btn {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background;
        cursor: pointer;
        transition: background-color 0.3s linear;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    
        .icon {
           width: 18px;
           height: 14px;
           stroke: $primary;
           fill: none;
           transition: fill 0.3s linear;
        }

        &--next {
            right: 0;
        }
    
        &--prev {
            left: 0;
           .icon {
              transform: rotate(180deg);
           }
        }
    
        &:hover {
           background-color: $primary;
           .icon {
              stroke: #FFF;
           }
        }
    }
}

.db-sl-child__btn.swiper-button-disabled {
   pointer-events: none;
   .icon {
      stroke: $text2;
   }
}

.col-desc {
    &__subtitle {
        font-size: 16px;
        line-height: 22px;
        color: $primary;
        font-weight: 700;
        margin-bottom: 15px;
        @media screen and (min-width: 1360px) {
            font-size: 20px;
            line-height: 27px;

            margin-bottom: 21px;
        }
    }

    &__list {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 30px;
        @media screen and (min-width: 1360px) {
            margin-bottom: 38px;
        }
    }

    &__char {
      .char-list {
         &__item {
            &:nth-child(n+6) {
               display: none;
            }
         }
      }
      .char-list.show {
         .char-list__item {
            &:nth-child(n+6) {
               display: flex;
            }
         }
      }
    }

    &__show-btn {
        @media screen and (min-width: 768px) {
            margin-bottom: 15px;
        }
    }
}

.char-list {
    &__item {
        padding-bottom: 12px;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $background-active;
        font-size: 14px;
        line-height: 19px;
    }

    &__name {
        color: $text2;
    }

    &__mean {
        color: $primary;
        margin-left: 30px;
        white-space: nowrap;
    }

    @media screen and (min-width: 1360px) {
        &__item {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 6px;
            margin-bottom: 6px;
        }
    }
}

.add-cart {
    background-color: $background;
    display: flex;
    padding: 10px 11px;
    justify-content: space-between;
    &__price {
        display: block;
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        color: $primary;
    }

    &__btns {
      margin-right: auto;
      min-width: 219px;
      margin-right: 10px;
    }

    &__btn {
        padding: 11px 24px;
        min-width: min-content;

        font-size: 14px;
        line-height: 19px;
        .cart-btn__icon {
            display: none;
         }
    }

    &__elem {
        display: flex;
        align-items: center;
        .product-favorite {
            width: 40px;
            height: 40px;
        }
    }

    .product-favorite span .icon {
      width: 20px;
      height: 20px;
    }

    @media screen and (min-width: 768px) {
      max-width: 310px;
      flex-direction: column;
      padding: 13px 20px 20px 20px;
      justify-content: start;
      &__price {
         margin-bottom: 20px;
         font-size: 40px;
         line-height: 54px;
      }

      &__btn {
         padding: 14px 24px;
         min-width: 219px;

         font-size: 16px;
         line-height: 22px;

         .cart-btn__icon {
            display: block;
         }
      }
    }
}

.doc-list {
    margin-left: -15px;
    margin-right: -15px;
    &__item {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        column-count: 2;
        &__item {
            margin-bottom: 30px;
        }
    }
}

.doc-link {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    transition: .3s;
    &__icon {
        display: block;
        flex: 0 0 auto;
        width: 33px;
        height: 40px;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media screen and (min-width: 1024px) {
            width: 58px;
            height: 61px;
            margin-right: 12px;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

   &__name {
      display: block;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $primary;
      margin-bottom: 5px;

      @media screen and (min-width: 768px) {
         max-width: 270px;
      }

      @media screen and (min-width: 1024px) {
         font-size: 20px;
         line-height: 27px;
      }
   }

    &__size {
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $text2;

        @media screen and (min-width: 1360px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__links {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            position: absolute;
            height: 100%;
            right: 20px;
            top: 0;
            opacity: 0;
            transition: .3s;
    
            .icon {
                width: 20px;
                height: 20px;
                fill: $primary;
                transition: .3s;
            }
        }
    }

    &:hover {
        background-color: $background;
        .doc-link__links {
            opacity: 1;
        }
        .icon {
            &:hover {
                fill: $hover;
            }
        }
    }
}

 