.form-box {
   // height: 100%;
   max-height: 100%;
   background-color: #FFF;
   &__field {
      margin-bottom: 15px;
      @media screen and (min-width: 1024px) {
         margin-bottom: 19px;
      }
   }

   &__slider {
      margin-bottom: 15px; 
      @media screen and (min-width: 1024px) {
         margin-bottom: 30px;
      }
   }

   &__wrapper {
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      padding-bottom: 240px;
      @media screen and (min-width: 1024px) {
         padding-bottom: 160px;
      }
   }

   &__payment {
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      margin-left: -12px;
      margin-right: -12px;
      overflow-x: auto;

      @media screen and (min-width: 768px) {
         margin-left: -22px;
         margin-right: -22px;
      }

      @media screen and (min-width: 1024px) {
         margin-left: 0;
         margin-right: 0;
      }
   }

   &__dliv-card {
      min-width: 276px;
      flex: 1 1 auto;
      margin-right: 10px;
      @media screen and (min-width: 576px) {
         width: 50%;
      }
      &:last-child {
         margin-right: 0;
      }
   }

   &__section {
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
         padding-left: 22px;
         padding-right: 22px;
      }
      @media screen and (min-width: 1024px) {
         margin-bottom: 30px;
         padding-left: 0;
         padding-right: 0;
      }
   }

   // &__consent {
   //    padding-left: 6px;
   //    @media screen and (min-width: 768px) {
   //       padding-left: 10px;
   //    }
   // }

   &__chapter {
      // padding-left: 12px;
      margin-bottom: 20px;
      .label-choice {
         &__custom {
            border: 1px solid #99afc3;
         }
      }

      // @media screen and (min-width: 768px) {
      //    padding-left: 20px;
      // }

      // @media screen and (min-width: 1024px) {
      //    padding-left: 40px;
      // }
   }

   &__subtitle {
      background-color: $background;
      padding: 12px;
      margin-left: -12px;
      margin-right: -12px;
      margin-bottom: 15px;

      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      @media screen and (min-width: 768px) {
         padding-left: 22px;
         padding-right: 22px;
         margin-left: -22px;
         margin-right: -22px;
      }
      @media screen and (min-width: 1024px) {
         padding: 14px 40px;
         font-size: 24px;
         line-height: 32px;
         margin-bottom: 30px;
         margin-left: 0;
         margin-right: 0;
      }
   }

   &__body {
      // padding-left: 12px;
      padding-right: 12px;
      margin-bottom: -15px;
      // @media screen and (min-width: 768px) {
      //    padding-left: 20px;
      //    padding-right: 20px;
      // }
      // @media screen and (min-width: 1024px) {
      //    padding-left: 40px;
      //    padding-right: 40px;
      // }
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      width: 100%;

      position: fixed;
      left: 0;
      bottom: 60px;

      .form-box__btn {
         width: 100%;
      }

      @media screen and (min-width: 768px) {
         flex-direction: row;
         bottom: 80px;
         .form-box__btn {
            width: 50%;
         }

         .form-box__btn--100 {
            width: 100%;
         }
      }

      @media screen and (min-width: 1024px) {
         position: absolute;
         bottom: 0;
      }
   }

   &__link {
      width: 100%;
      padding: 19px 0;
      text-align: center;
      background-color: $background;

      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      text-transform: uppercase;
      color: $primary;
      text-decoration: underline;
      text-underline-offset: 3px;
      transition: all 0.3s linear;
      &:hover {
         color: $hover;
      }

      @media screen and (min-width: 768px) {
         width: 50%;
         padding: 39px 0;
      }
   }

   &__btn {
      width: 100%;
      background-color: $secondary;
      padding: 19px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: #FFF;
      transition: all 0.3s linear;

      &:active {
         background-color: $hover;
      }

      @media screen and (min-width: 768px) {
         width: 50%;
         padding: 39px 0;
      }
      @media screen and (min-width: 1024px) {
         &:hover {
            background-color: $hover;
         }
      }
   }

   &__link-pas {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
      color: $secondary;
      transition: all 0.3s linear;
      &:hover {
         color: $hover;
      }
      &:active {
         color: $hover;
      }
   }

   &__person {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: $text2;
      a {
         color: $secondary;
         text-decoration: underline;
         &:active {
            text-decoration: none;
         }
      }
      @media screen and (min-width: 1024px) {
         a {
            text-decoration: underline;
            &:hover {
               text-decoration: none;
            }
         }
      }
   }

   &__type {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $primary;
      @media screen and (min-width: 1024px) {
         font-size: 20px;
         line-height: 27px;
      }
      
   }

   .col {
      .chapter__label {
         margin-bottom: 15px;
         @media screen and (min-width: 768px) {
            margin-bottom: 0;
         }
      }
   }

   &__warning {
      padding-left: 6px;
      @media screen and (min-width: 768px) {
         padding-left: 12px;
      }
   }
}

.field {
   position: relative;
   &__input {
      width: 100%;
      height: 55px;
      padding: 8px 0;  
      border: none;
      border-bottom: 2px solid $decor;
      transition: all 0.3s linear;

      font-size: 16px;
      line-height: 21px;
      color: $primary;
      font-weight: 400;
   }
   &__label {
      font-size: 15px;
      line-height: 1;
      text-transform: uppercase;
      color: $primary;
      font-weight: 400;

      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      transition: all 0.3s linear;

      @media screen and (min-width: 768px) {
         left: 10px;
      }
   }

   &__label.req {
      &:after {
         content: '*';
         color: $primary;

         position: absolute;
         top: 0;
         right: -12px;
      }
   }

   textarea.field__input {
      resize: vertical;
      max-height: 100px;
   }

   .field__input:focus ~ .field__label,
   .field__input:not(:placeholder-shown) ~ 
   .field__label { 
      top: 3px;
      color: $text2;
   }

   .field__input:focus ~ .field__label::after,
   .field__input:not(:placeholder-shown) ~ 
   .field__label::after { 
      color: $text2;
   }

   .field__input:focus {
      border-color: $hover;
   }

   &--error {
      .field__input {
         color: #e32700;
         border-color: #e32700;
      }

      .field__input:focus { 
         color: #e32700;
         border-color: #e32700;
      }
   }
}
