.header {
   background-color: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 30;
   &-top {
      padding: 5px 0;
      border-bottom: 1px solid $background;
      position: relative;
      z-index: 2;
      background-color: #fff;
      &__wrapper {
         display: flex;
         align-items: center;
      }

      &__logo.logo {
         display: block;
      }

      &__contacts {
         display: flex;
         align-items: center;
         margin-left: auto;
      }
      @media screen and (min-width: 768px) {
         padding: 10px 0;
      }

      @media screen and (min-width: 1024px) {
         background-color: $primary;
         padding: 9px 0;

         &__logo.logo {
            display: none;
         }
      }
   }

   &-bot {
      padding: 10px 0;
      position: absolute;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 6px 6px 0px rgba(0, 54, 104, 0.08);
      transition: .3s;
      top: 45px;
      @media screen and (min-width: 768px) {
         top: 53px;
      }
      @media screen and (min-width: 1024px) {
         top: 43px;
      }
      &--hide {
         top: -19px;
         @media screen and (min-width: 768px) {
            top: -13px;
         }
      }
      &__wrapper {
         display: flex;
         align-items: center;
      }

      &__logo.logo {
         display: none;
         @media screen and (min-width: 1024px) {
            display: block;
            margin-right: 26px;
         }

      }

      &__catalog {
         display: none;
         @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
   
            padding: 12px 32px;
            margin-right: 30px;
            background-color: $secondary;
   
            font-size: 16px;
            color: #FFF;
            font-weight: 500;
            transition: all 0.3s linear;
            position: relative;
            z-index: 150;
   
            .icon {
               width: 20px;
               height: 20px;
               fill: #FFF;
   
               &--catalog {
                  margin-right: 10px;
               }
            }
   
            &:hover {
               background-color: $primary;
            }
         }
      }

      @media screen and (min-width: 1024px) {
         position: static;
      }
   }
}

.burger {
   width: 30px;
   height: 22px;
   position: relative;
   span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $primary;
      position: relative;
      transition: all 0.2s linear;
      &::after, &::before {
         content: '';
         display: block;
         width: 100%;
         height: 2px;
         background-color: $primary;
         position: absolute;
         left: 0;
         transition: all 0.2s linear;
      }

      &::after {
         bottom: -8px;
      }

      &::before {
         top: -8px;
      }
   }

   &:active {
      span {
         background-color: $hover;
         &::after, &::before {
            background-color: $hover;
         }
      }
   }

   @media screen and (min-width: 768px) {
      width: 40px;
      height: 26px;

      span {
         &::after {
            bottom: -10px;
         }
   
         &::before {
            top: -10px;
         }
      }
   }

   @media screen and (min-width: 1024px) {
      display: none;
   }
}

.logo {
   display: block;
   flex: 0 0 80px;
   height: 34px;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   @media screen and (min-width: 768px) {
      flex: 0 0 75px;
      height: 32px;
   }

   @media screen and (min-width: 1360px) {
      flex: 0 0 116px;
      height: 56px;
   }
}

.address {
   display: none;
   @media screen and (min-width: 768px) {
      display: block;
      font-size: 16px;
      color: $primary;
      line-height: 1;
      font-weight: 400;
   }

   @media screen and (min-width: 1024px) {
      color: #FFF;
   }

   @media screen and (min-width: 1360px) {

   }
}

.phone {
   font-size: 14px;
   line-height: 19px;
   font-weight: 500;
   color: $primary;
   transition: color 0.3s linear;
   &:hover {
      color: $hover;
   }

   @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
   }

   @media screen and (min-width: 1024px) {
      color: #FFF;
   }
}

.nav-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99;
   background-color: #00000033;
   opacity: 0;
   pointer-events: none;
   transition: all 0.2s linear;
   &__list {
      height: auto;
   }
   @media screen and (min-width: 768px) {
      &__list {
         height: 100%;
      }
   }
   @media screen and (min-width: 1024px) {
      opacity: 1;
      pointer-events: all;
      position: static;
      background-color: transparent;
      width: auto;
   }
}

.nav-list {
   display: flex;
   flex-direction: column;
   width: 100%;
   position: absolute;
   background-color: #FFF;
   transition: all 1s linear;
   &__item {
      border-bottom: 1px solid $background;
   }

   &__link {
      display: block;
      padding: 14px 12px;
      font-size: 14px;
      line-height: 20px;
      color: $primary;
      background-color: #FFF;
      transition: all 0.3s linear;
      &:active {
         background-color: $background-active;
      }
   }

   &__header {
      padding: 10px 12px;
      border-bottom: 1px solid $background;
      @media screen and (min-width: 768px) {
         padding: 6px 22px;
      }
      @media screen and (min-width: 1024px) {
         display: none;
      }
   }

   @media screen and (min-width: 768px) {
      width: 300px;

      &__link {
         padding: 13px 22px;
         font-size: 15px;
      }
   }

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      position: static;
      width: auto;
      background-color: transparent;

      &__item {
         border-bottom: none;
         &:nth-child(2) {
            .nav-list__link {
               padding-left: 0;
            }
         }

         &:last-child {
            .nav-list__link {
               padding-right: 0;
            }
         }
      }

      &__link {
         padding: 0 10px;
         background-color: transparent;
         color: #FFF;
         &:hover {
            color: $hover;
         }
      }
   }

   @media screen and (min-width: 1360px) {
      &__link {
         font-size: 16px;
         line-height: 22px;
         padding: 0 15px;
      }
   }
}

.nav-menu {
   .nav-list {
      top: -100%;
      left: 0;
   }
   &--active {
      opacity: 1;
      pointer-events: all;
      .nav-list {
         top: 0;
      }
   }
   @media screen and (min-width: 768px) {
      .nav-list {
         top: 0;
         left: -100%;
      }
      &--active {
         .nav-list {
            left: 0;
         }
      }
   }
}

.contacts-h {
   &__phone {
      margin-left: 10px;
      @media screen and (min-width: 1024px) {
         margin-left: 30px;
      }
   }
}

.search-form {
   position: relative;
   width: 100%;

   &__input {
      width: 100%;
      height: 44px;
      padding: 9px 30px 9px 10px;
      background-color: $background;
      font-size: 14px;
      border: 2px solid $background;
      transition: all 0.3s linear;

      &::placeholder {
         color: $text2;
      }

      @media screen and (min-width: 1360px) {
         padding: 11px 50px 11px 20px;
      }
   }

   &__btn {
      position: absolute;
      top: 2px;
      right: 2px;
      height: calc(100% - 4px);
      width: 40px;
      background-color: #f1f6fb;

      .icon {
         width: 15px;
         height: 15px;
         fill: $primary;
         cursor: pointer;
         transition: all 0.3s linear;
      }

      @media screen and (min-width: 1360px) {
         right: 20px;
         .icon {
            width: 18px;
            height: 18px;
         }
      }
   }

   &:hover {
      .search-form__input {
         border: 2px solid $background-active;
      }

      .search-form__btn {
         .icon {
            fill: $hover;
         }
      }
   }

   .search-form__input:focus {
      border: 2px solid $background-active;
   }

   .search-form__input:focus~.search-form__btn {
      .icon {
         fill: $hover;
      }
   }
}

.activities {
   display: none;

   &__btn {
      position: relative;
   }

   &__counter {
      position: absolute;
      top: 7px;
      right: 7px;

      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 15px;
      height: 15px;
      padding: 2px;

      background-color: $secondary;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;

      font-size: 11px;
      color: #FFF;
   }
   
   @media screen and (min-width: 1024px) {
      display: flex;
      margin-left: 30px;
      &__item {
         margin-right: 15px;
         &:last-child {
            margin-right: 0;
         }
      }
   
      &__btn {
         width: 44px;
         height: 44px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         padding: 13px;
         transition: all 0.2s linear;

         .icon {
            width: 18px;
            height: 18px;
            fill: $primary;
            &--stroke {
               fill: none;
               stroke: $primary;
            }
         }

         &:hover {
            background-color: $background;
         }
      }
   }
}