@keyframes showPopup {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
.body {
   &__popup {
      display: none;
      position: fixed;
      overflow: auto;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(000, 000, 000, 0.33);
      z-index: 200;

      opacity: 0;
      animation: showPopup .5s forwards;
      &--active {
         display: block;
      }

      &--cat {
         z-index: 100;
      }
   }
}

.popup {
   &__box {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 100%;
      @media screen and (min-width: 1024px) {
         align-items: stretch;
         justify-content: flex-end;
         &--catalog {
            margin-left: auto;
            margin-right: auto;
            padding: 127px 20px 0 20px;
            justify-content: flex-start;
            padding-top: 127px;
         }
      }

      @media screen and (min-width: 1360px) {
         &--catalog {
            max-width: 1370px;
            padding: 138px 22px 0 22px;
         }
      }
   }

   &__window {
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      background-color: $primary;
      position: relative;
      background-color: #FFF;
      padding-top: 12px;
      padding-bottom: 200px;

      display: flex;
      flex-direction: column;
      &--review {
         @media screen and (min-width: 1024px) {
            width: 50%;
         }
      }
      @media screen and (min-width: 1024px) {
         padding-top: 20px;
         max-width: 75%;
         display: flex;
         flex-direction: column;
         height: auto;
         box-shadow: 0px 0px 12px #0036681A;
         &--mini {
            max-width: 30%;
         }
      }

      @media screen and (min-width: 1360px) {
         max-width: 60%;
         &--mini {
            max-width: 30%;
         }
      }

      .popup-window-b--off {
         display: none;
      }

      &--off {
         .popup-window-b--off {
            display: flex;
         }
      }

      &--top {
         padding-top: 130px;
      }

      &--bottom {
         padding-bottom: 120px;
      }
   }

   &__window.popup-catalog {
      @media screen and (min-width: 1024px) {
         padding: 0;
         overflow: visible;
         max-width: 272px;
         height: max-content;
         .popup-window-h, .popup-catalog__all {
            display: none;
         }
         .cat-header__icon-btn {
            transform: rotate(-90deg);
         }

         .cat-header {
            background-color: #f1f6fb;
         }

         .catalog-item:hover {
            .cat-header {
               background-color: #e0edfb;
            }
         }

         .catalog-item {
            &:nth-child(n+8) {
               .sub-catalog {
                  bottom: 0;
                  top: auto;
               }
            }
         }

         .sub-catalog {
            max-height: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #FFF;
            &__item:hover {
               background-color: $background;
            }
            &__link {
               padding: 13px 20px;
            }
         }

         .sub-catalog.active {
            left: 100%;
         }
      }

      @media screen and (min-width: 1360px) {
         max-width: 309px;
      }
   }


   &__close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 30px;
      right: 30px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
      &::before,
      &::after {
         content: '';
         display: block;
         width: 100%;
         height: 2px;
         background-color: $secondary;
         position: absolute;
         top: 50%;
         left: 50%;
         transition: background-color 0.2s linear;
      }

      &::before {
         transform: translateX(-50%) rotate(45deg);
      }
      &::after {
         transform: translateX(-50%) rotate(-45deg);
      }

      &:hover {
         &::before,
         &::after {
            background-color: $background;
         }
      }
   }

   .reviews-rating {
      padding-left: 12px;
      padding-right: 12px;
      @media screen and (min-width: 768px) {
         padding-left: 22px;
         padding-right: 22px;
      }
      @media screen and (min-width: 1024px) {
         padding-left: 40px;
         padding-right: 40px;
      }
   }
}

.popup-window-h {
   // padding: 15px 12px;
   padding-bottom: 12px;
   padding-left: 12px;
   padding-right: 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid $background;
   // position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   &__title {
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
   }

   @media screen and (min-width: 768px) {
      // padding: 15px 22px 20px 22px;
      padding-left: 20px;
      padding-right: 20px;

      &__title {
         font-size: 30px;
         line-height: 40px;
      }
   }

   @media screen and (min-width: 1024px) {
      // padding: 27px 40px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
   }
}

.popup-reviews {
   &__form {
      .form-box__buttons {
         margin: 0;
         width: 100%;
      }
   }
}

.reviews-rating {
   &__name {
      display: block;
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 15px;
   }

   &__stars {
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
         margin-bottom: 30px;
      }
   }
}

.popup-window-b {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   &--off {
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   &__title {
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 10px;
      @media screen and (min-width: 1024px) {
         font-size: 30px;
         line-height: 41px;
         margin-bottom: 15px;
      }
   }

   &__desc {
      display: block;
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      color: $primary;
      @media screen and (min-width: 1024px) {
         font-size: 16px;
         line-height: 21px;
      }
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      transition: .3s;

      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      height: 60px;

      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: #FFF;
      text-transform: uppercase;

      &:active {
         background-color: $primary;
      }

      @media screen and (min-width: 768px) {
         bottom: 80px;
      }

      @media screen and (min-width: 1024px) {
         bottom: 0;
         height: 100px;
         &:hover {
            background-color: $primary;
         }
      }
   }
}

.preview-card {
   &__name {
      display: block;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $primary;
      margin-bottom: 10px;
      margin-top: 15px;
      @media screen and (min-width: 1024px) {
         font-size: 20px;
         line-height: 26px;
         margin-bottom: 15px;
      }
   }

   &__desc {
      display: block;
      margin-bottom: 30px;
   }

   &__images {
      width: 100%;
      max-width: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }

      @media screen and (min-width: 1024px)  {
         height: 445px;
      }
   }
}