.product-card {
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-color: $background;
   position: relative;
   &__preview {
      width: 100%;
      height: 113px;
      margin-bottom: 10px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media screen and (min-width: 768px) {
         height: 219px;
         margin-bottom: 15px;
      }

      @media screen and (min-width: 1360px) {
         height: 269px;
         margin-bottom: 20px;
      }
   }

   &__favorite {
      margin-right: 10px;
   }

   &__i {
     width: 25px;
     height: 25px;
     border: 2px solid $primary;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .3s linear;
      .icon {
         width: 5px;
         height: 11px;
         fill: $primary;
      } 
      &:active {
         background-color: $primary;
         .icon {
            fill: #FFF;
         }
      }


      @media screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
            .icon {
               width: 7px;
               height: 16px;
            }
      }

      @media screen and (min-width: 1360px) {
         &:hover {
            background-color: $primary;
            .icon {
               fill: #FFF;
            }
         }
      }
   }

   &__title {
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: $primary;
      font-weight: 500;
      margin-bottom: 5px;
      transition: color 0.3s linear;
      &:active {
         color: $secondary;
      }

      @media screen and (min-width: 768px) {
         font-size: 20px;
         line-height: 26px;
         margin-bottom: 10px;
      }

      @media screen and (min-width: 1360px) {
         &:hover {
            color: $secondary;
         }
      }
   }

   &__elem {
      display: flex;
      margin-bottom: 10px;
      flex: 0 0 auto;
      @media screen and (min-width: 1360px) {
         margin-bottom: 0;
      }
   }

   &__desc {
      display: none;
      @media screen and (min-width: 1360px) {
         display: block;
         font-size: 16px;
         line-height: 24px;
         color: $primary;

         a {
            color: inherit;
            transition: color 0.3s linear;
            &:hover {
               color: $hover;
            }
         }
      }
   }

   &__price {
      display: block;
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 10px;

      @media screen and (min-width: 768px) {
         font-size: 24px;
         line-height: 32px;
         margin-bottom: 15px;
      }
   }

   &__activities {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1360px) {
         flex-direction: row;
         align-items: center;
      }
   }

   &__btn {
      padding: 7px;
      width: 100%;
      line-height: 17px;
      color: #FFF;

      @media screen and (min-width: 768px) {
         padding: 14px;
         font-size: 16px;
         line-height: 22px;
      }

      @media screen and (min-width: 1360px) {
         margin-right: 10px;
         order: -1;
      }
   }

   &__label {
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px 6px;

      font-size: 12px;
      font-weight: 500;
      color: #FFF;

      @media screen and (min-width: 768px) {
         top: 30px;
         left: 30px;
      }
   }

   @media screen and (min-width: 768px) {
      padding: 20px;
   }

   &--cart {
      .product-card__btn {
         background-color: $secondary;
         &:active {
            background-color: $primary;
         }

         @media screen and (min-width: 1360px) {
            &:hover {
               background-color: $primary;
            }
         }
      }

      .product-card__label {
         background-color: $secondary;
      }
   }

   &--order {
      .product-card__btn {
         background-color: $primary;
         &:active {
            background-color: $hover;
         }

         @media screen and (min-width: 1360px) {
            &:hover {
               background-color: $hover;
            }
         }
      }

      .product-card__label {
         background-color: $text2;
      }
   }

   &--little {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;

      .product-card__preview {
         margin-bottom: 0;
         margin-right: 15px;
         flex: 0 0 89px;
         height: 89px;

         @media screen and (min-width: 768px) {
            margin-right: 10px;
            flex: 0 0 100px;
            height: 100px;
         }
      }

      .product-card__title {
         @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 20px;
         }
      }
      
      .product-card__price {
         margin-bottom: 0;
      }

      @media screen and (min-width: 768px) {
         padding: 10px;
      }
   }

}

.product-favorite {
   width: 25px;
   height: 25px;
   position: relative;

   input[type=checkbox] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
   }

   label {
      display: block;
      width: 100%;
      height: 100%;
   }

   span {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #FFF;
      border: 2px solid $primary;
      transition: background-color 0.3s linear;

      .icon {
         width: 15px;
         height: 14px;
         fill: none;
         stroke: $primary;
         transition: fill 0.3s linear;
      }
   }

   &:hover {
      span {
         background-color: $primary;
         .icon {
            stroke: #FFF;
         }
      }
   }

   input[type=checkbox]:checked ~ span {
      .icon {
         fill: $primary;
      }

      &:hover {
         background-color: #FFF;
         .icon {
            stroke: $primary;
         }
      }
   }

   @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;

      span {
         .icon {
            width: 20px;
            height: 19px;
         }
      }
   }
}