.reviews {
    &__rating-box {
        gap: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__rating {
        margin-bottom: 30px;
    }

    &__prompt {
        padding: 10px;
        background-color: $background;
        margin-bottom: 25px;

        @media screen and (min-width: 1360px) {
            padding: 21px 20px;
            margin-bottom: 21px;
        }
    }

    &__btn {
        margin-bottom: 30px;
        padding: 11px 16px;
        background-color: $secondary;

        font-size: 14px;
        line-height: 19px;
        &:active {
            background-color: $primary;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
            padding: 20px 45px;
            font-size: 16px;
            line-height: 22px;
            &:hover {
                background-color: $primary;
            }
        }
    }

   &__show-more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 8px 22px;
      margin-left: auto;
      margin-right: auto;

      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: 500;
      color: $primary;
      transition: .3s;
      .icon {
         width: 20px;
         height: 24px;
         fill: none;
         stroke: $primary;
         transition: .3s;
      }

      &:active {
         color: #FFF;
         background-color: $primary;
         .icon {
            stroke: #FFF;
         }
      }

      @media screen and (min-width: 1024px)  {
         &:hover {
            background-color: $background-active;
         }

         &:active {
            background-color: $primary;
         }
      }
   }
}

.like-box {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        &:last-child {
            margin-right: 30px;
        }
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__icon {
        width: 17px;
        height: 17px;
        fill: $decor;
        margin-right: 5px;
        cursor: pointer;
        transition: .3s;
        &--dis {
            transform: rotate(-180deg);
        }
    }

    &__count {
        color: $decor;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: $text2;
    }

    .like-box__input:checked ~ .like-box__icon {
        fill: $secondary;
    }

    .like-box__input:checked ~ .like-box__icon--dis {
        fill: #E32700;
    }
}

.reviews-item {
    border-top: 1px solid #CCD7E1;
    padding-bottom: 20px;
    padding-top: 30px;
    &__header {
        margin-bottom: 15px;
    }

    &__block {
        margin-bottom: 15px;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: $primary;
    }

    &__date {
        font-size: 12px;
        line-height: 27px;
        font-weight: 400;
        color: $text2;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        color: $primary;
        margin-bottom: 5px;
    }

    &__answer {
        padding-left: 10px;
    }

    &__footer {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        transition: .3s;
        position: relative;
    }

    &__answer-btn {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $secondary;
        text-decoration: underline;
        opacity: 1;
        transition: .3s;
        &:active {
            text-decoration: none;
        } 
    }

    &__answer-btn.hidden {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }

    &__answer-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background;
        padding: 0px;
        transition: .3s;

        position: absolute;
        right: 0;

        width: 0;
        height: 0;
        opacity: 0;
        .icon {
            width: 16px;
            height: 16px;
            fill: $primary;
            transition: .3s;
        }

        &:active {
            background-color: $primary;
            .icon {
                fill: #FFF;
            }
        }

        @media screen and (min-width: 1024px) {
            &:hover {
                background-color: $primary;
                .icon {
                    fill: #FFF;
                }
            }
        }

        @media screen and (min-width: 1360px) {
            width: 0px;
            height: 0px;
            padding: 10px;
            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    
    &__answer-close.visible {
      width: auto;
      height: auto;
      opacity: 1;
      padding: 7px;
    }

    .form-box {
      height: auto;
    }

    .reviews-answer {
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      &--active {
         margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 30px;
        padding-top: 30px;
        &__header {
            margin-bottom: 30px;
        }

        &__name {
            font-size: 20px;
            line-height: 27px;
        }

        &__date {
            font-size: 16px;
            line-height: 22px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 30px;
        }

        &__block {
            margin-bottom: 20px;
        }

        &__form {
         margin-left: 100px;
       }

        &__answer-btn {
            font-size: 16px;
            line-height: 17px;
            &:hover {
                text-decoration: none;
            }
        }

        &__answer {
            padding-left: 50px;
        }
    }
}   

.reviews-answer {

   &__info {
      display: block;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: $hover;
      margin-bottom: 15px;
      @media screen and (min-width: 1360px) {
         font-size: 16px;
         line-height: 22px;
         margin-bottom: 20px;
      }
   }


   &__btn {
      padding: 11px 22px;
      background-color: $secondary;
      &:active {
         background-color: $primary;
      }
      @media screen and (min-width: 1024px) {
         padding: 14px 58px;
         &:hover {
               background-color: $primary;
         }
      }
   }

   &__consent {
      display: block;
      margin-bottom: 15px;
      padding: 0;
      @media screen and (min-width: 1024px) {
         margin-bottom: 20px;
      }
   }
}

.consent {
   font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color: $text2;
   a {
      color: $secondary;
      text-decoration: underline;
   }
   @media screen and (min-width: 1024px) {
      font-size: 14px;
      line-height: 19px;
      a:hover {
         text-decoration: none;
      }
   }
}

.rating-sum {
   display: flex;
   align-items: center;
   &__stars {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      .rating-on {
         position: absolute;
         bottom: 0;
         left: 0;
         overflow: hidden;
         width: 50%;
         height: 100%;
      }

      .rating-on__image {
         flex: 0 0 auto;
         width: 120px;
         height: 20px;
         max-width: none;
      }
   }

   &__quantity {
      font-size: 30px;
      line-height: 41px;
      font-weight: 500;
      color: $secondary;
   }
}