body {
   font-family: 'Aeroport', sans-serif;
   background-color: #FFFFFF;
}

.page {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   &__box {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   &__head-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 30px;
      .page__title {
         margin-bottom: 0;
      }
   }

   &__btn-pagination {
      display: flex;
      align-items: center;

      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $primary;
      text-transform: uppercase;
      transition: .3s;
      .icon {
         width: 18px;
         height: 20px;
         fill: $primary;
         transition: .3s;
      }
      span {
         display: none;
      }
      &:active {
         color: $hover;
         .icon {
            fill: $hover;
         }
      }
      @media screen and (min-width: 1024px) {
         span {
            display: block;
            margin-left: 10px;
         }
         &:hover {
            color: $hover;
            .icon {
               fill: $hover;
            }
         }
      }
   }

   &__main {
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 10px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 30px;
      }
   }

   &__categories {
      margin-bottom: 30px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 80px;
      }
   }

   &__categories.list-links {
      flex-wrap: nowrap;
      overflow: auto;
      .list-links__item {
         margin-top: 0;
      }
   }
}

body.lock {
   overflow: hidden;
}

button {
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
}

.title {
   font-size: 20px;
   line-height: 27px;
   font-weight: 700;
   color: $primary;
   @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 54px;
   }
}

.sections {
   &__section {
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
         margin-bottom: 34px;
      }
   
      @media screen and (min-width: 1360px) {
         margin-bottom: 56px;
      } 
   }
}

.row-box {
   flex: 1 1 auto;
   padding-top: 20px;

   &__row {
      display: flex;
   }

   &__col-l {
      display: none;

      @media screen and (min-width: 1024px) {
         flex: 0 0 auto;
         max-width: 270px;
         display: flex;
         flex-direction: column;
         margin-right: 20px;
      }

      @media screen and (min-width: 1360px) {
         width: 309px;
         max-width: 309px;
         margin-right: 30px;
      }

      .catalog {
         background-color: $background;

         .catalog-item {
            border-color: $background;
         }
         .cat-header {
            padding-left: 12px;
            padding-right: 12px;
            &__btn {
               width: 35px;
            }
            &__icon-btn {
               transform: rotate(-90deg);
            }
            &__name {
               text-transform: none;
            }
         }
      }
   }

   &__col-r {
      flex: 1 1 auto;
      width: 100%;

      @media screen and (min-width: 1024px) {
         width: 70%;
      }

      @media screen and (min-width: 1360px) {
         max-width: 987px;
      }
   }
}

.section {
   &__title {
      color: $primary;
      margin-bottom: 20px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 30px;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .section__title {
         margin-bottom: 0;
      }
   }

   &__navigation {
      display: none;
   }

   @media screen and (min-width: 768px) {
      &__header {
         margin-bottom: 20px; 
      }
   }

   @media screen and (min-width: 1360px) {
      &__header {
         margin-bottom: 30px; 
      }

      &__navigation {
         display: flex;
      }
   }
   
   
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

   text-transform: uppercase;
   font-size: 12px;
   line-height: 14px;
   font-weight: 500;
   color: #FFF;
   transition: all 0.3s linear;
}

.close-btn {
   width: 30px;
   height: 30px;
   background-color: $background;
   position: relative;
   transition: background-color 0.3s linear;

   .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 15px;
      height: 15px;
      fill: $primary;
      transition: fill 0.3s linear;
   }

   &:active {
      background-color: $primary;
      .icon {
         fill: #FFF;
      }
   }

   @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
      .icon {
         width: 20px;
         height: 20px;
      }
   }

   @media screen and (min-width: 1024px) {
      &:hover {
         background-color: $primary;
         .icon {
            fill: #FFF;
         }
      }
   }
}

.promo {
   &__preview {
      display: block;
      width: 100%;
      height: 82px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media screen and (min-width: 768px) {
         height: 200px;
      }
   }

   @media screen and (min-width: 1024px) {
      display: none;
   }
}

.breadcrumbs {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   &__item {
      position: relative;
      margin-right: 20px;
      &::after {
         content: '';
         display: block;
         width: 10px;
         height: 1px;
         background-color: $text2;

         position: absolute;
         right: -15px;
         top: 50%;
         transform: translateY(-50%);
      }

      &:last-child {
         margin-right: 0;
         &::after {
            display: none;
         }
      }
   }

   &__link {
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
      color: $text2;
      transition: .3s;
      &:active {
         color: $hover;
      }

      &--active {
         color: $primary;
      }
   }

   @media screen and (min-width: 1360px) {
      margin-bottom: 20px;
      &__item {
         position: relative;
         margin-right: 25px;
         &::after {
            width: 15px;
            right: -20px;
         }
      }
   
      &__link {
         font-size: 16px;
         line-height: 22px;
         &:hover {
            color: $hover;
         }
      }
   }
}

.show-more-btn {
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   color: $secondary;
   text-decoration: underline;
   &:active {
       text-decoration: none;
   }

   @media screen and (min-width: 1024px) {
       &:hover {
           text-decoration: none;
       }
   }
}

.text {
   font-size: 14px;
   line-height: 20px;
   color: $primary;
   font-weight: 400;
   p {
      padding-bottom: 10px;
   }
   @media screen and (min-width: 1360px) {
      font-size: 16px;
      line-height: 22px;
      p {
         padding-bottom: 15px;
      }
   }

}

.cart-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 14px;
   min-width: 219px;

   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   color: #FFF;
   background-color: $secondary;
   transition: .3s;

   &__icon {
      margin-right: 10px;
      width: 22px;
      height: 21px;
      fill: none;
      stroke: #FFF;
   }

   &:active {
      background-color: $primary;
   }
   @media screen and (min-width: 1024px) {
      &:hover {
         background-color: $primary;
      }
   }

}

.promo-sidebar {
   width: 100%;
   height: 370px;
   &__link {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.box-off {
   padding: 13px 11px 11px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   &--bg {
      background-color: $background;
   }

   &__title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 7px;
   }

   &__desc {
      margin-bottom: 16px;
   }

   &__pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
   }

   &__back {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary;
      padding: 10px;
      width: 132px;

      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      text-transform: uppercase;
      color: $primary;
      transition: .3s;

      .icon {
         width: 13px;
         height: 10px;
         margin-right: 5px;
         fill: none;
         stroke: $primary;
         transform: rotate(180deg);
         transition: .3s;
      }

      &:active {
         background-color: $primary;
         color: #FFF;
         .icon {
            stroke: #FFF;
         }
      }
   }

   &__page {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      padding: 10px;
      width: 132px;
      
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      text-transform: uppercase;
      color: #FFF;
      transition: .3s;

      &:active {
         background-color: $primary;
      }
   }

   @media screen and (min-width: 1024px) {
      padding: 44px 50px 50px 50px;

      &__title {
         font-size: 30px;
         line-height: 41px;
         margin-bottom: 15px;
      }

      &__desc {
         font-size: 16px;
         line-height: 22px;
         margin-bottom: 30px;
      }

      &__pagination {
         gap: 30px;
      }

      &__back {
         padding: 19px;
         width: 190px;
         font-size: 16px;
         line-height: 22px;
         &:hover {
            background-color: $primary;
            color: #FFF;
            .icon {
               stroke: #FFF;
            }
         }
      }

      &__page {
         padding: 19px;
         width: 190px;
         font-size: 16px;
         line-height: 22px;

         &:hover {
            background-color: $primary;
         }
      }
   }
}
