body {
   font-family: 'Aeroport', sans-serif;
   background-color: #FFFFFF;
}

.page {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 144px;
   &__box {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   &__head-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 30px;
      .page__title {
         margin-bottom: 0;
      }
   }

   &__product-info {
      margin-bottom: 30px;
      @media screen and (min-width: 1024px) {
         margin-bottom: 50px;
      }
   }

   &__btn-pagination {
      display: flex;
      align-items: center;

      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $primary;
      text-transform: uppercase;
      transition: .3s;
      .icon {
         width: 18px;
         height: 20px;
         fill: $primary;
         transition: .3s;
      }
      span {
         display: none;
      }
      &:active {
         color: $hover;
         .icon {
            fill: $hover;
         }
      }
      @media screen and (min-width: 1024px) {
         padding: 9px 19px;
         span {
            display: block;
            margin-left: 10px;
         }
         &:hover {
            background-color: $background;
         }
      }
   }

   &__main {
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 10px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 30px;
      }
   }

   &__categories {
      padding-bottom: 10px;
      margin-bottom: 20px;
   }

   &__categories.list-links {
      flex-wrap: nowrap;
      overflow: auto;
      .list-links__item {
         margin-top: 0;
      }
   }
}

body.lock {
   overflow: hidden;
}

button {
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
}

.title {
   font-size: 20px;
   line-height: 27px;
   font-weight: 700;
   color: $primary;
   @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 54px;
   }
}

.sections {
   &__section {
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
         margin-bottom: 34px;
      }
   
      @media screen and (min-width: 1360px) {
         margin-bottom: 56px;
      } 
   }
}

.row-box {
   flex: 1 1 auto;

   &__row {
      display: flex;
   }

   &__col-l {
      display: none;
      position: relative;

      @media screen and (min-width: 1024px) {
         flex: 0 0 auto;
         max-width: 270px;
         display: flex;
         flex-direction: column;
         margin-right: 20px;
      }

      @media screen and (min-width: 1360px) {
         width: 309px;
         max-width: 309px;
         margin-right: 30px;
      }

      .catalog {
         background-color: $background;

         .catalog-item {
            border-color: $background;
         }
         .cat-header {
            padding-left: 12px;
            padding-right: 12px;
            &__btn {
               width: 35px;
            }
            &__icon-btn {
               transform: rotate(-90deg);
            }
            &__name {
               text-transform: none;
            }
         }
      }
   }

   &__col-r {
      flex: 1 1 auto;
      width: 100%;

      @media screen and (min-width: 1024px) {
         width: 70%;
      }

      @media screen and (min-width: 1360px) {
         max-width: 987px;
      }
   }

   &__row--order {
      flex-direction: column;
      .row-box__col-l {
         display: block;
         order: 2;
         margin-right: 0;
         margin-bottom: 30px;
      }

      .person-page {
         &__subheader {
            margin-left: -12px;
            margin-right: -12px;
         }
      }
      @media screen and (min-width: 768px) {
         .person-page {
            &__subheader {
               margin-left: -22px;
               margin-right: -22px;
            }
         }
      }
      @media screen and (min-width: 1024px) {
         flex-direction: row;
         .row-box__col-l {
            width: 270px;
            margin-left: 30px;
         }

         .person-page {
            &__subheader {
               margin-left: 0;
               margin-right: 0;
               padding: 14px 20px;

            }
         }
      }

      @media screen and (min-width: 1360px) {
         .row-box__col-l {
            width: 309px;
         }
      }
   }
}

.section {
   &__title {
      color: $primary;
      margin-bottom: 20px;
      @media screen and (min-width: 1360px) {
         margin-bottom: 30px;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .section__title {
         margin-bottom: 0;
      }

      &--form {
         background-color: $background;
         padding: 14px 12px;
         @media screen and (min-width: 1024px) {
            padding: 0 0 0 20px;
            .section__navigation {
               display: flex;
            }
         }
      }
   }

   &__navigation {
      display: none;
   }

   &__order {
      .person-page__orders {
         padding: 0;
      }
      .form-box {
         &__subtitle {
            margin-left: -12px;
            margin-right: -12px;
            @media screen and (min-width: 768px) {
               margin-left: -22px;
               margin-right: -22px;
            }
            @media screen and (min-width: 1024px) {
               margin-left: 0;
               margin-right: 0;
               padding: 14px 20px;
            }
         }

         &__consent {
            padding-left: 0;
         }
      }
   }

   @media screen and (min-width: 768px) {
      &__header {
         margin-bottom: 20px; 
      }
   }

   @media screen and (min-width: 1360px) {
      &__header {
         margin-bottom: 30px; 
      }

      &__navigation {
         display: flex;
      }
   }
   
   
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

   text-transform: uppercase;
   font-size: 12px;
   line-height: 14px;
   font-weight: 500;
   color: #FFF;
   transition: all 0.3s linear;
   &__icon {
      display: none;
      @media screen and (min-width: 1024px) {
         display: block;
         width: 20px;
         height: 20px;
         fill: $primary;
         margin-right: 10px;
         transition: .3s;
         &--stroke {
            fill: none;
            stroke: $primary;
         }
      }
   }

   &--link {
      background-color: #fff;
      color: $primary;
      text-decoration: underline;
      &:active {
         text-decoration: none;
      }
   }

   @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
   }

   @media screen and (min-width: 1024px) {

      &--link {
         font-size: 16px;
         line-height: 22px;
         font-weight: 500;
         &:hover {
            text-decoration: none;
         }
      }
   }

   &--light {
      border: 2px solid $primary;
      color: $primary;
      &:active {
         background-color: $primary;
         color: #FFF;
         .btn__icon {
            fill: #FFF;
            &--stroke {
               fill: none;
               stroke: #FFF;
            }
         }
      }
      @media screen and (min-width: 1024px) {
         &:hover {
            background-color: $primary;
            color: #FFF;
            .btn__icon {
               fill: #FFF;
               &--stroke {
                  fill: none;
                  stroke: #FFF;
               }
            }
         }
      }
   }

   &--green {
      background-color: $secondary;
      border: 2px solid $secondary;
      &:active {
         background-color: $primary;
         border: 2px solid $primary;
         color: #FFF;
      }
      @media screen and (min-width: 1024px) {
         &:hover {
            background-color: $primary;
            border: 2px solid $primary;
            color: #FFF;
         }
      }
   }
}

.close-btn {
   width: 30px;
   height: 30px;
   background-color: $background;
   position: relative;
   transition: background-color 0.3s linear;

   .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 15px;
      height: 15px;
      fill: $primary;
      transition: fill 0.3s linear;
   }

   &:active {
      background-color: $primary;
      .icon {
         fill: #FFF;
      }
   }

   @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
      .icon {
         width: 20px;
         height: 20px;
      }
   }

   @media screen and (min-width: 1024px) {
      &:hover {
         background-color: $primary;
         .icon {
            fill: #FFF;
         }
      }
   }
}

.promo {
   &__preview {
      display: block;
      width: 100%;
      height: 82px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media screen and (min-width: 768px) {
         height: 200px;
      }
   }

   @media screen and (min-width: 1024px) {
      display: none;
   }
}

.breadcrumbs {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   display: none;
   &__item {
      position: relative;
      margin-right: 20px;
      &::after {
         content: '';
         display: block;
         width: 10px;
         height: 1px;
         background-color: $text2;

         position: absolute;
         right: -15px;
         top: 50%;
         transform: translateY(-50%);
      }

      &:last-child {
         margin-right: 0;
         &::after {
            display: none;
         }
      }
   }

   &__link {
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
      color: $text2;
      transition: .3s;
      &:active {
         color: $hover;
      }

      &--active {
         color: $primary;
      }
   }

   @media screen and (min-width: 1024px) {
      display: flex;
   }

   @media screen and (min-width: 1360px) {
      margin-bottom: 20px;
      &__item {
         position: relative;
         margin-right: 25px;
         &::after {
            width: 15px;
            right: -20px;
         }
      }
   
      &__link {
         font-size: 16px;
         line-height: 22px;
         &:hover {
            color: $hover;
         }
      }
   }
}

.show-more-btn {
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   color: $secondary;
   text-decoration: underline;
   &:active {
       text-decoration: none;
   }

   @media screen and (min-width: 1024px) {
       &:hover {
           text-decoration: none;
       }
   }
}

.text {
   font-size: 14px;
   line-height: 20px;
   color: $primary;
   font-weight: 400;
   p {
      padding-bottom: 10px;
   }
   @media screen and (min-width: 1360px) {
      font-size: 16px;
      line-height: 22px;
      p {
         padding-bottom: 15px;
      }
   }

}

.cart-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 14px;
   min-width: 219px;

   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   color: #FFF;
   background-color: $secondary;
   transition: .3s;

   &__icon {
      margin-right: 10px;
      width: 22px;
      height: 21px;
      fill: none;
      stroke: #FFF;
   }

   &:active {
      background-color: $primary;
   }
   @media screen and (min-width: 1024px) {
      &:hover {
         background-color: $primary;
      }
   }

}

.promo-sidebar {
   width: 100%;
   height: 370px;
   &__link {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.box-off {
   padding: 13px 11px 11px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   &--bg {
      background-color: $background;
   }

   &__title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 7px;
   }

   &__desc {
      margin-bottom: 16px;
   }

   &__pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      width: 100%;
   }

   &__back {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary;
      padding: 10px;
      flex: 1 1 auto;
      width: 50%;

      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      text-transform: uppercase;
      color: $primary;
      transition: .3s;

      .icon {
         width: 13px;
         height: 10px;
         margin-right: 5px;
         fill: none;
         stroke: $primary;
         transform: rotate(180deg);
         transition: .3s;
      }

      &:active {
         background-color: $primary;
         color: #FFF;
         .icon {
            stroke: #FFF;
         }
      }
   }

   &__page {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      padding: 10px;
      flex: 1 1 auto;
      width: 50%;
      
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      text-transform: uppercase;
      color: #FFF;
      transition: .3s;

      &:active {
         background-color: $primary;
      }
   }

   @media screen and (min-width: 768px) {
      &__back {
         width: 190px;
         flex: 0 0 auto;
      }

      &__page {
         width: 190px;
         flex: 0 0 auto;
      }
   }

   @media screen and (min-width: 1024px) {
      padding: 44px 50px 50px 50px;

      &__title {
         font-size: 30px;
         line-height: 41px;
         margin-bottom: 15px;
      }

      &__desc {
         font-size: 16px;
         line-height: 22px;
         margin-bottom: 30px;
      }

      &__pagination {
         gap: 30px;
      }

      &__back {
         padding: 19px;
         width: 190px;
         font-size: 16px;
         line-height: 22px;
         &:hover {
            background-color: $primary;
            color: #FFF;
            .icon {
               stroke: #FFF;
            }
         }
      }

      &__page {
         padding: 19px;
         width: 190px;
         font-size: 16px;
         line-height: 22px;

         &:hover {
            background-color: $primary;
         }
      }
   }
}

.product-info {
   display: flex;
   align-items: center;
   &__label {
      margin-right: 10px;
   }

   &__name {
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
      color: $primary;

      @media screen and (min-width: 1024px) {
         font-size: 16px;
         line-height: 22px;
      }
   }
}

.product-label {
   display: block;
   padding: 3px 10px;
   background-color: $secondary;
   transition: .3s;
   border: 1px solid $secondary;
   font-size: 12px;
   line-height: 17px;
   font-weight: 500;
   color: #FFF;
   white-space: nowrap;
   cursor: pointer;

   &:hover {
      background-color: #fff;
      color: $hover;
      border: 1px solid $background-active;
   }

   @media screen and (min-width: 1024px) {
      padding: 3px 6px;

      font-size: 16px;
      line-height: 22px;  
   }
}

.box-buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 12px;
   padding-right: 12px;
   gap: 10px;
   &__item {
      width: 100%;
      min-width: 270px;
      padding: 19px 25px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
   }

   @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-left: 22px;
      padding-right: 22px;
      &__item {
         width: auto;
         min-width: 270px;
         gap: 30px;
      }
   }

   @media screen and (min-width: 1024px) {
      padding: 0;
   }
}

.pagination-fixed {
   padding: 10px 12px;
   position: fixed;
   background-color: #fff;
   bottom: 60px;
   left: 0;
   width: 100%;
   z-index: 999999;
   -webkit-box-shadow: 0px -5px 10px -4px rgba(34, 60, 80, 0.17);
   -moz-box-shadow: 0px -5px 10px -4px rgba(34, 60, 80, 0.17);
   box-shadow: 0px -5px 10px -4px rgba(34, 60, 80, 0.17);
   &__title {
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 10px;
      white-space: nowrap;
   }

   &__btns {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
   }

   &__btn {
      padding: 11px;
      flex: 1 1 auto;
      width: 100%;
   }

   &__link {
      padding: 11px;
      white-space: nowrap;
      cursor: pointer;
   }

   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 22px;

      position: static;
      box-shadow: none;
      width: auto;
      z-index: 1;
      &__title {
         margin-bottom: 0;
      }

      &__btns {
         margin-bottom: 0;
         flex: 1 1 auto;
         gap: 20px;
         margin-left: 20px;
         margin-right: 20px;
      }

      &__btn {
         padding: 15px;
         min-width: 150px;
      }

      &__link {
         padding: 15px;
         min-width: 170px;
      }
   }

   @media screen and (min-width: 1024px) {
      flex-wrap: wrap;
      padding: 0;
      &__title {
         font-size: 32px;
         line-height: 40px;
         width: 100%;
         margin-bottom: 15px;
      }

      &__link {
         padding: 15px;
         min-width: 190px;
      }

      &__btns {
         margin-left: 0;
         gap: 30px;
         margin-right: 30px;
      }
   }

   @media screen and (min-width: 1360px) {
      flex-wrap: nowrap;
      &__title {
         font-size: 40px;
         line-height: 54px;
         margin-bottom: 0;
      }
      &__btns {
         gap: 30px;
      }
      &__btn {
         padding: 20px;
         min-width: 190px;
      }

      &__link {
         padding: 20px;
         min-width: 190px;
      }
   }
}

.client-text {
   padding: 10px 12px;
   background-color: $background;
   @media screen and (min-width: 768px) {
      padding: 22px 22px;
   }
}

.artboard {
   max-width: 350px;
   padding: 22px 70px 26px 30px;
   background-color: #fff;
   box-shadow: 0px 0px 12px #0036681A;
   position: relative;
   display: none;
   &__title {
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 5px;
   }

   &__desc {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: $primary;
   }

   &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      padding: 7.5px;
      transition: .3s;
      background-color: $background;

      position: absolute;
      top: 10px;
      right: 10px;
      .icon {
         width: 15px;
         height: 15px;
         fill: $primary;
         transition: .3s;
      }

      &:active {
         background-color: $primary;
         .icon {
            fill: #FFF;
         }
      }

      @media screen and (min-width: 1024px) {
         &:hover {
            background-color: $primary;
            .icon {
               fill: #FFF;
            }
         }
      }
   }

   &--active {
      display: inline-block;
   }
}

.swiper-button-disabled.swiper-button-lock {
   background-color: $background;
   pointer-events: none;
   .icon {
      stroke: $decor;
   }
}

.language {
   padding-left: 10px;
   .choice-box {
      position: relative;
      min-width: 0;
      &__title {
         display: block;
         padding: 0px 5px;
         margin-right: 0;

         font-size: 14px;
         line-height: 19px;
         font-weight: 500;
         text-transform: uppercase;
         color: $primary;
         cursor: pointer;
         transition: .3s;

         @media screen and (min-width: 1024px) {
            color: #FFF;
            padding: 0px 10px;
         }
      }
      
      &__list {
         width: 100%;
         position: absolute;
         top: calc(100% + 13px);
         left: 0;
         @media screen and (min-width: 1024px) {
            top: calc(100% + 10px);
         }
      }

      &__item {
         margin: 0;
         padding: 5px 5px;
         &:first-child {
            margin: 0;
         }
         &:last-child {
            margin-bottom: 0;
         }

         &:hover {
            .choice-box__name {
               color: $hover;
            }
         }

         @media screen and (min-width: 1024px) {
            padding: 5px 10px;
         }
      }

      &__btn {
         .icon {
            width: 12px;
            height: 6px;
            fill: none;
            stroke: $primary;
         }

         
         @media screen and (min-width: 1024px) {
            .icon {
               stroke: #FFF;
            }
         }
      }

      &__header {
         &:active {
            .choice-box__title {
               color: $hover;
            }
      
            .choice-box__btn {
               .icon {
                  stroke: $hover;
               }
            }
         }
      }
   }

   @media screen and (min-width: 1024px) {
      padding-left: 30px;

      .choice-box {
         &__header {
            &:hover {
               .choice-box__title {
                  color: $hover;
               }
   
               .choice-box__btn {
                  .icon {
                     stroke: $hover;
                  }
               }
            }
         }
      }
   }
}

.search-answer {
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   color: $primary;

   &__link {
      color: $secondary;
      text-decoration: underline;
      &:active {
         text-decoration: none;
      }
   }

   @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      &__link {
         &:hover {
            text-decoration: none;
         }
      }
   }
}

.delivery-card {
   padding: 10px 15px;
   background-color: $background;
   display: flex;
   flex-direction: column;
   transition: .3s;
   border: 2px solid transparent;

   .label-choice {
      &__custom {
         margin-right: 0;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
   }

   &__name {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $primary;
   }

   &__desc {
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
      color: $text2;
      margin-bottom: 20px;
      max-width: 252px;
   }

   &__card-list {
      display: flex;
      align-items: center;
      margin-left: auto;
   }

   &__card-item {
      margin-left: 10px;
   }

   &__days {
      display: inline-block;
      width: fit-content;
      padding: 3px 6px;
      background-color: $secondary;
      margin-bottom: 15px;

      font-size: 10px;
      line-height: 14px;
      font-weight: 500;
      color: #FFF;
      text-transform: uppercase;
   }

   &__price {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      color: $primary;
   }

   &:active {
      border-color: $hover;
   }
   @media screen and (min-width: 768px) {
      padding: 15px 20px;

      &__name {
         font-size: 20px;
         line-height: 27px;
      }

      &__desc {
         font-size: 16px;
         line-height: 22px;
      }

      &__header {
         margin-bottom: 10px;
      }

      &__days {
         margin-bottom: 12px;
         font-size: 12px;
         line-height: 17px;
      }

      &__price {
         font-size: 20px;
         line-height: 27px;
      }
   }

   @media screen and (min-width: 1024px) {
      &:hover {
         border-color: $hover;
      }
   }
}

.finish-order{
   &__btn {
      padding: 19px;
      width: 100%;
      background-color: $secondary;
      transition: .3s;

      &:active {
         background-color: $primary;
      }

      @media screen and (min-width: 1024px) {
         &:hover {
            background-color: $primary;
         }
      }
   }

   &__link {
      background-color: $background;
      padding: 19px;
      @media screen and (min-width: 1024px) {
         display: none;
      }
   }

   &__fixed {
      position: fixed;
      bottom: 60px;
      left: 0;
      z-index: 10;
      width: 100%;
      @media screen and (min-width: 576px) {
         display: flex;
         * {
            width: 50%;
         }
      }
      @media screen and (min-width: 768px) {
         bottom: 80px;
      }
      @media screen and (min-width: 1024px) {
         position: static;
         * {
            width: 100%;
         }
      }
   }

   @media screen and (min-width: 1024px) {
      position: sticky;
      position:-webkit-sticky; 
      top: 0px;
   }
}


//псевдокласс для демонстрации окон активности
.art-box {
   display: flex;
   gap: 30px;
   align-items: flex-start;
   flex-direction: column;
}

.icon {
   &--stroke {
      fill: none;
   }
}
